<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>聊天室</title>
    <link rel="shortcut icon" href="favicon.png">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="__static__/layui/css/layui.css"  media="all">
    <link type="text/css" rel="stylesheet" href="__static__/css/style.css">
    <script type="text/javascript" src="__static__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__static__/js/base64.js"></script>
</head>
<body>
{__CONTENT__}
</body>
</html>